.footer-div {
    padding: 20px 15px;
    background-color: var(--whitecolor);
}
.footer-div .footer-text {
    text-align: center;
    margin-bottom: 0px;
    color: var(--graycolor);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer-div {
        padding: 15px 15px;
   }
    .footer-div .footer-text {
        font-size: 15px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-div {
        padding: 15px 15px;
   }
    .footer-div .footer-text {
        font-size: 15px;
   }
}
