:root {
  --bg-color: #F5F8FA;
  --primarycolor: #2E2D2D;
  --Secondarycolor: #A2A2A2;
  --graycolor: #999999;
  --whitecolor: #ffffff;
  --bordercolor: #E1E1E1;
  --lightgreencolor: #83B39B;
  --lightyellowcolor: #F2CC90;
  --lightpinkcolor: #FF6869;
  --darkyellowcolor: #F39613;
  --orangecolor: #FFB400;
  --skycolor: #6597FF;
  --body-font-family: "Poppins", sans-serif;
  --heading-font-family: 'Nunito', sans-serif;
  --border-radius-5: 5px;
  --border-radius-100: 100%;
  --card-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
ul {
  margin-bottom: 0px;
}
body {
  font-family: var(--body-font-family);
  background-color: var(--bg-color);
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font-family);
}
a:hover {
  text-decoration: none;
}
.small-text {
  font-size: 14px;
  margin: 0;
}

.panel-view-main-div {
  display: grid;
  grid-template-columns: 300px auto;
}
.full-width-panel {
  grid-template-columns: 1fr !important;
}

/* === RIGHT SECTION CSS START === */
.right-side-section-div {
  width: 100%;
  position: relative;
}
.right-contain-main-div {
  padding: 115px 35px 35px 35px;
  min-height: calc(100vh - 65px);
}
.temp-bg-box {
  background-color: var(--whitecolor);
  min-height: 200px;
  border-radius: var(--border-radius-5);
  margin-bottom: 30px;
  box-shadow: var(--card-shadow);
}
/* === RIGHT SECTION CSS END === */

/* Scroll Bar  */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #999999; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A2A2A2; 
}


/* === MEDIA QUERY START === */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .panel-view-main-div {
      grid-template-columns: 1fr;
 }
  .right-contain-main-div {
      padding: 95px 15px 15px 15px;
 }
 .cursor , .cursor2 {
  display: none;
 }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .panel-view-main-div {
      grid-template-columns: 1fr;
 }
  .right-contain-main-div {
      padding: 95px 20px 20px 20px;
 }
 .cursor , .cursor2 {
  display: none;
 }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .panel-view-main-div {
      grid-template-columns: 240px auto;
 }
  .right-contain-main-div {
      padding: 105px 25px 25px 25px;
 }
 .cursor , .cursor2 {
  display: none;
 }
}

@media only screen and (min-width: 1200px) and (max-width: 1441px) {
  .panel-view-main-div {
      grid-template-columns: 240px auto;
 }
  .right-contain-main-div {
      padding: 105px 25px 25px 25px;
 }
}
/* === MEDIA QUERY START === */



/* Animation css */
.pulse-effects {
  animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
  0% {
      box-shadow: 0 0 0 0px rgba(103, 182, 255, 0.2);
 }
  100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
 }
}










